@use '@styles/colors.module.scss' as colors;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .cardContent {
    padding: 18px;
    height: 100%;

    .cardLogo {
      width: 52px;
      height: 52px;
      object-fit: contain;
      border-radius: 4px;
    }

    .cardSubtitle {
      color: colors.$grey-text;
    }
  }

  &.selected {
    border: 1px solid colors.$primary;
  }

  &.cardError {
    background-color: colors.$alert-error-bg;
  }
}
